.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: white;
  width: 25%;
  padding: 10px 10px;
  transition: 0.25s ease-in-out;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}
